.password-text-field {
  &__helpers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
  }

  &__helper {
    margin: 0 8px 5px;

    &_type_success {
      color: green;
    }
  }
}
