.password-text-field {
  &__helpers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    &-column {
      display: flex;
      flex-basis: 160px;
      flex-direction: column;
    }
  }

  &__helper {
    //display: list-item;
    margin: 0 8px 5px;
    //font-size: 11px;
    //list-style-type: disc;

    &_type_success {
      color: green;
    }
  }
}
