.password-text-field {
  &__helpers {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    &-column {
      display: flex;
      flex-basis: 200px;
      flex-direction: column;
    }
  }

  &__helper {
    margin: 0 8px 5px;

    &_type_success {
      color: green;
    }
  }
}
