.sign-up-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 10px;
  max-width: 470px;
  width: 100%;

  &__login-routing {
    align-self: flex-end;
    margin-bottom: 30px;
  }

  &__login-link {
    color: rgb(0, 97, 181);
    text-decoration: none;

    &::after {
      display: inline;
      content: "→";
      font-size: 19px;
    }
  }

  &__services-buttons {
    margin-bottom: 20px;
  }

  &__or {
    margin-bottom: 20px;
    font-size: 20px;
  }

  &__text-field {
    margin-bottom: 10px;
    width: 100%;
  }

  &__button {
    margin: 40px auto;
  }

  &__terms-of-use-text {
    max-width: 340px;
    //width: 100%;
    color: rgba(175, 175, 175, 1);
    text-align: center;
    font-size: 11px;
  }

  &__terms-of-use-link-wrapper {
    margin-bottom: 20px;
    font-size: 11px;
  }

  &__terms-of-use-link {
    color: rgb(0, 97, 181);
  }

  &-wrapper {
    margin-bottom: 20px;
    font-size: 11px;
  }

  &__mailing-checkbox {
    max-width: 400px;
    width: 100%;

    .MuiTypography-root {
      color: rgb(82, 95, 127);
      font-size: 11px;
      line-height: 13px;
    }
  }
}
