.login-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 470px;
  width: 100%;

  &__sign-up-routing {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  &__sign-up-link {
    color: rgb(0, 97, 181);
    text-decoration: none;

    &::after {
      display: inline;
      content: "→";
      font-size: 19px;
    }
  }

  &__text-field {
    margin-bottom: 10px;
  }

  &__button {
    margin: 40px auto 20px;
  }

  &__restore-routing {
    text-align: center;
  }

  &__restore-link {
    color: rgb(0, 97, 181);
    text-decoration: none;
    font-size: 14px;
  }
}
